.stars {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.active,
.not-active {
  border: none;
  background: none;
}
.active {
  color: yellow;
}

.not-active {
  color: initial;
}
