.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}

.search-container input {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  margin-top: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-container input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-container {
  background-color: rgb(202, 199, 199);
  width: 300px;
}

.user-container ul {
  list-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-container ul li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
}

.user-container ul li:hover {
  background-color: rgb(160, 153, 153);
}
