.modal-trigger {
  text-align: center;
  height: 100vh;
  background-color: antiquewhite;
}

.modal-trigger button {
  margin: 50px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
}

.modal-bg {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
}

.modal-head,
.modal-foot {
  background-color: rgb(71, 209, 71);
  color: white;
  padding: 20px;
  font-weight: bold;
}

.modal-container {
  position: relative;
  background-color: aliceblue;
  top: 200px;
  max-width: 600px;
  margin: auto;
  border: 2px solid yellowgreen;
  animation-name: modalAnimation;
  animation-duration: 0.5s;
  z-index: 1;
  text-align: center;
}

.modal-head span {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.modal-body {
  height: 100px;
}

@keyframes modalAnimation {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}
