.load-more-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 10px auto;
}

.product {
  border: 1px solid black;
  text-align: center;
}

.product img {
  width: 350px;
  height: 250px;
}

.loadmore {
  text-align: center;
  margin: 10px;
}

.loadmore button {
  padding: 5px 10px;
  margin: 10px;
}
