*{
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    
}

main{
    width: 60%;
    background-color: #8ECDDD;
    margin-top: 50px;
    text-align: center;
    color: white;
    max-width: 600px;
    min-width: 450px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
 header img{
    margin-left: 5px;
 }

section{
    margin: 20px;
}

#password{
    display: flex;
}

 #password input{
    width: 100%;
    height: 35px;
    background-color: #FFFADD;
    border: none;
    outline: none;
    padding-left: 10px;
    letter-spacing: 1px;
 }

 #password button{
    width: 100px;
    background-color: #FFCC70;
    border: none;
    outline: none;
 }

#settings{
    display: flex;
    justify-content: space-around;
}

section>div{
    display: flex;
}
section>div>input{
    margin-right: 5px;
}

input[type="checkbox"]{
    height: 15px;
    width: 15px;
}