.github-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.github-control {
  margin: 20px;
  display: flex;
  gap: 10px;
}

.github-control input {
  padding: 10px;
  border: none;
  font-size: 1.1rem;
}

.github-control button {
  padding: 10px;
  background-color: aquamarine;
  border: none;
}

.github-control button:active {
  border: 1px solid black;
}

.github-profile-info {
  padding: 20px;
  border: 1px solid black;
  background: rgb(214, 255, 132);
}

.github-profile-info a,
p {
  font-size: 1.2rem;
}

.github-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.github-avatar img {
  width: 150px;
  border-radius: 50%;
}

.github-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
