.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.container button {
  margin: 10px;
  padding: 10px 25px;
}

.colors {
  color: white;
  font-size: 10rem;
  font-weight: bold;
  margin: 200px;
}
